<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="browser" value="Chrome"/>
		<add key ="url"		value="https://www.wegmans.com/"/>
		<add key ="pagetitle_main"		value="Wegmans Food Markets: Grocery &amp; Meal Delivery or Curbside"/>
		<add key ="pagetitle_stores"	value="Find a Grocery Store Near You | Delivery and Curbside Available - Wegmans"/>
		<add key ="pagetitle_aboutus"	value="About Us - Wegmans"/>
	</appSettings>
</configuration>